@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-vibe min-h-screen;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-pink-100/50 rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-vibe-pink-300 to-vibe-purple-300 rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply from-vibe-pink-400 to-vibe-purple-400;
  }
}
